/**
/node_modules/*

!.gitignore
!dmb.js
!dmb-test.js
!gulpfile.js
!package.json
!package-lock.json
!README.md
!/scripts
!/mods
/mods/*
!/mods/.gitkeep

!/embedded
!/logo
!/logo/**

!/.template
!/.template-dmf

!.eslintrc.json

!LICENSE
